name: CI
on:
  push:
    branches:
    - '*'
  pull_request:
  schedule:
  - cron: 0 14 * * 0
jobs:
  ci:
    name: Continuous Integration
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8
        options: >-
          --mount type=tmpfs,destination=/var/lib/mysql
          --health-cmd="mysqladmin ping --host 127.0.0.1 --port 3306 --user root --password=rootpass"
          --health-interval 2s
          --health-timeout 10s
          --health-retries 10
        ports:
        - 3306/tcp
        env:
          MYSQL_ROOT_PASSWORD: rootpass
          MYSQL_DATABASE: dogmatiq
          MYSQL_USER: dogmatiq
          MYSQL_PASSWORD: dogmatiq
      mariadb:
        image: mariadb:10.4
        options: >-
          --mount type=tmpfs,destination=/var/lib/mysql
          --health-cmd="mysqladmin ping --host 127.0.0.1 --port 3306 --user root --password=rootpass"
          --health-interval 2s
          --health-timeout 10s
          --health-retries 10
        ports:
        - 3306/tcp
        env:
          MYSQL_ROOT_PASSWORD: rootpass
          MYSQL_DATABASE: dogmatiq
          MYSQL_USER: dogmatiq
          MYSQL_PASSWORD: dogmatiq
      postgres:
        image: postgres:12.0-alpine
        options: >-
          --health-cmd pg_isready
          --health-interval 2s
          --health-timeout 10s
          --health-retries 10
        env:
          POSTGRES_PASSWORD: rootpass
        ports:
        - 5432/tcp
    steps:
    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.15
      id: go
    - name: Checkout
      uses: actions/checkout@v1
    - name: Make (with CGO)
      run: make ci
      env:
        CGO_ENABLED: "1"
        DOGMATIQ_TEST_DSN_MYSQL_MYSQL: "root:rootpass@tcp(127.0.0.1:${{ job.services.mysql.ports['3306'] }})/dogmatiq"
        DOGMATIQ_TEST_DSN_MARIADB_MYSQL: "root:rootpass@tcp(127.0.0.1:${{ job.services.mariadb.ports['3306'] }})/dogmatiq"
        DOGMATIQ_TEST_DSN_POSTGRESQL_POSTGRES: "user=postgres password=rootpass sslmode=disable port=${{ job.services.postgres.ports['5432'] }}"
        DOGMATIQ_TEST_DSN_POSTGRESQL_PGX: "postgres://postgres:rootpass@127.0.0.1:${{ job.services.postgres.ports['5432'] }}/?sslmode=disable"
    - name: Make (tests only, without CGO)
      run: make test
      env:
        CGO_ENABLED: "0"
        DOGMATIQ_TEST_DSN_MYSQL_MYSQL: "root:rootpass@tcp(127.0.0.1:${{ job.services.mysql.ports['3306'] }})/dogmatiq"
        DOGMATIQ_TEST_DSN_MARIADB_MYSQL: "root:rootpass@tcp(127.0.0.1:${{ job.services.mariadb.ports['3306'] }})/dogmatiq"
        DOGMATIQ_TEST_DSN_POSTGRESQL_POSTGRES: "user=postgres password=rootpass sslmode=disable port=${{ job.services.postgres.ports['5432'] }}"
        DOGMATIQ_TEST_DSN_POSTGRESQL_PGX: "postgres://postgres:rootpass@127.0.0.1:${{ job.services.postgres.ports['5432'] }}/?sslmode=disable"
    - name: Upload Coverage Reports
      if: success()
      run: |
        [[ -z "${{ secrets.CODECOV_TOKEN }}" ]] || bash <(curl -s https://codecov.io/bash) -t "${{ secrets.CODECOV_TOKEN }}" -B "${{ github.ref }}"
